body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: white;
  background: url(/resources/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

canvas {
  border-radius: 5px;
  box-shadow: 0 0 20px 20px rgb(250, 250, 250),
    /* inner white */ 0 0 100px 60px rgb(255, 2, 2),
    0 0 140px 100px rgb(248, 0, 0);
  width: 800px;
  height: 500px;
  background: black;
  margin: 100px;
  margin-bottom: 120px;
}

canvas.shake {
  animation: shake 1s linear 1;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.canvasWrap h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
}

.canvasWrap h5 {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 120%;
}

.canvasWrap {
  text-align: center;
}

.shake {
  box-shadow: 0px 10px 14px -7px #000000;
  background: linear-gradient(to bottom, #f50808 5%, #a30f0f 100%);
  background-color: #f50808;
  border-radius: 9px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
}
.shake:hover {
  background: linear-gradient(to bottom, #a30f0f 5%, #f50808 100%);
  background-color: #a30f0f;
}
.shake:active {
  position: relative;
  top: 1px;
}
